.primary{
    font-family: DM Sans, sans-serif;
    padding: 12px 40px 16px 40px;
    border-radius: 30px;
    border: 1px solid #E0D8CC;
    font-size: 18px;
    color: #1A1712;
    cursor: pointer;

    line-height: 170%;
    letter-spacing: 0;
    text-align: center;
    z-index: 1;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}
.primary:hover {
    color: #6B6055;
}

.primary-yellow {
    background: #FFE77A;
}
.primary-yellow:active {
    background: #EECD3A;
    color: #1A1712;
}
.primary-pink {
    background: #FFDEE2;
}
.primary-pink:active  {
    background: #D89099;
    color: #1A1712;
}
.primary-green {
    background: #E0F29C;
}
.primary-green:active {
    background: #A6BC54;
    color: #1A1712;
}

.hero-section-button{
    /*width: 324px;*/
    /*height: 56px;*/
    border-radius: 100px;
    border: 2px #E0D8CC solid;
    padding: 16px 40px 20px;
    gap: 12px;
    background: #4A7A28;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #ffffff;
    font-family: DM Sans, sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 12%;
    transition: background 0.15s ease-in-out;
}

.hero-section-button:hover{
    background: #62A334;
}
.hero-section-button:active{
    background: #2D5016;
}

@media (max-width: 960px) {
    .hero-section-button{
        padding: 12px 32px 16px;
        gap: 8px;
    }
}

@media (max-width: 768px) {
    .hero-section-button{
        padding: 8px 20px 12px;
        gap: 4px;
        font-size: 12px;
    }
    .primary {
        padding: 8px 20px 10px;
        gap: 4px;
        font-size: 15px;
        line-height: 130%;
    }
}

@media (max-width: 480px) {
    .hero-section-button{
        padding: 8px 18px 10px;
        gap: 4px;
        font-size: 12px;
        width: 260px;
        height: 36px;
        position: absolute;
        line-height: 80%;
        font-weight: 300;
        border-radius: 30px;
        /*border: 1px #E0D8CC solid;*/
    }
    .primary {
        padding: 8px 20px 10px;
        gap: 4px;
        font-size: 14px;
        line-height: 100%;
    }
}
