.hero-section-wrapper {
    width: 1200px;
    padding-top: 40px;
    padding-bottom: 60px;
}
.hero-section {
    display: flex;
}
.hero-section-left {
    max-width: 588px;
    flex: 1;
}
.hero-section-left a{
    all: unset;
}

.hero-section-left h1 {
    font-family: Bebas Neue, Arial, sans-serif;
    font-size: 120px;
    font-weight: 400;
    line-height: 95%;
    letter-spacing: 1%;
    padding-top: 4px;
    text-align: center;
}

.hero-section-left h1:nth-child(2) {
    padding-top: 32px;
}

.hero-section-left p {
    padding-top: 32px;
    font-family: Cormorant Garamond, serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: 0;
    margin-bottom: 32px;
}

.hero-section-right {
    position: relative;
    flex: 1;
}

.hero-section-right-bg-photo{
    position: absolute;
    width: 710px;
    height: 620px;
    top: -110px;
    left: -10px;
}

.hero-section-right-photo{
    position: absolute;
    width: auto;
    height: 500px;
    top: -10px;
    left: 150px;
    rotate: -2deg;
}
.hero-section-right .hero-section-text{
    position: absolute;
    max-width: 230px;
    top: 70px;
    left: 40px;
    transform: rotate(-8deg);
}

.hero-section-left .hero-section-text{
    display: none;
}

@media (max-width: 1200px) {
    .hero-section-wrapper {
        width: 920px;
    }

    .hero-section-left {
        max-width: 453px;
    }

    .hero-section-left h1 {
        font-family: Bebas Neue, Arial, sans-serif;
        font-size: 100px;
    }

    .hero-section-left p {
        padding-top: 24px;
        font-family: Cormorant Garamond, serif;
        font-size: 40px;
        font-weight: 300;
        line-height: 120%;
        letter-spacing: -4%;
        margin-bottom: 24px;
    }

    .hero-section-right-bg-photo{
        position: absolute;
        width: 450px;
        height: 640px;
        top: -110px;
        left: 20px;
    }

    .hero-section-right-photo{
        width: auto;
        height: 500px;
        top: 0;
        left: 22px;
        transform: rotate(-5deg);
    }

    .hero-section-right .hero-section-text{
        display: none;
    }

    .hero-section-left .hero-section-text{
        display: block;
        font-family: DM Sans, sans-serif, serif;
        font-size: 15px;
        line-height: 130%;
        letter-spacing: 0;
        max-width: 260px;
        padding-top: 0;
    }
}