.instruments-section-wrapper{
    width: 1200px;
    padding-top: 20px;
    padding-bottom: 60px;
}

.instruments-list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 960px;
}
.instruments-list p, .instruments-list a {
    all: unset;
    border: 1px solid #E0D8CC;
    padding: 8px 32px 12px;
    gap: 8px;
    border-radius: 100px;
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0;
    text-align: center;
}

.instruments-list a {
    cursor: pointer;
}

.instruments-yellow {
    background: #FFE77A !important;
}
.instruments-pink {
    background: #FFDEE2 !important;;
}
.instruments-green {
    background: #E0F29C !important;;
}
.instruments-blue {
    background: #ADCAE4 !important;;
}

@media (max-width: 1200px) {
    .instruments-section-wrapper {
        max-width: 960px;
        padding-bottom: 36px;
    }

    .instruments-list {
        margin-top: 24px;
        width: 720px;
    }

    .instruments-list p, .instruments-list a {

        padding: 8px 20px 10px;
        font-size: 15px;
        line-height: 100%;
    }
}

@media (max-width: 960px) {
    .instruments-section-wrapper {
        max-width: 768px;
        padding-bottom: 18px;
    }

    .instruments-list {
        margin-top: 12px;
        /*width: 480px;*/
    }

    .instruments-list p, .instruments-list a {

        padding: 8px 20px 12px;
        font-size: 15px;
        line-height: 130%;
    }
}

@media (max-width: 768px) {
    .instruments-section-wrapper {
        max-width: 480px;
        padding-bottom: 18px;
    }

    .instruments-list {
        max-width: 480px;
        margin-top: 12px;
        justify-content: normal;
        flex-wrap: wrap;
        gap: 16px;
    }

    .instruments-list p, .instruments-list a {

        padding: 8px 20px 10px;
        font-size: 15px;
        font-weight: 300;
        line-height: 100%;
    }
}

@media (max-width: 460px) {
    .instruments-section-wrapper {
        max-width: 360px;
        padding-bottom: 4px;
    }

    .instruments-list {
        max-width: 320px;
        margin-top: 8px;
        justify-content: normal;
        flex-wrap: wrap;
        gap: 4px;
    }

    .instruments-list p, .instruments-list a {

        padding: 8px 12px 10px;
        font-size: 13px;
        font-weight: 300;
        line-height: 80%;
    }
}