.learn-projects-wrapper {
    max-width: 1200px;
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.learn-projects-card-img-wrapper{
    position: relative;
}

.learn-projects-card-header{
    all: unset;
    cursor: pointer;

    padding-top: 32px;
    font-family: Cormorant Garamond, serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 110%;
}

.learn-projects-card-scotch{
    width: 600px;
    height: auto;
    position: absolute;
    top: 24px;
    left: 300px;
}

.learn-projects-card-img{
    margin-top: 48px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.learn-project-overlay {
    border-radius: 8px;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: calc(100% - 52px);
    background: rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s ease;
}
.learn-project-overlay:hover {
    background: rgba(0, 0, 0, 0);
}

.learn-project-overlay:active {
    background: rgba(0, 0, 0, .1);
}

@media (max-width: 1200px) {
    .learn-projects-wrapper {
        max-width: 920px;
        padding-top: 40px;
        padding-bottom: 60px;
        gap: 24px;
    }

    .learn-projects-card-header{
        font-size: 38px;
        line-height: 110%;
    }

    .learn-projects-card-scotch{
        width: 460px;

        top: 12px;
        left: 210px;
    }

    .learn-projects-card-img{
        margin-top: 32px;
    }
}

@media (max-width: 960px) {
    .learn-projects-wrapper {
        max-width: 728px;
        padding-top: 28px;
        padding-bottom: 48px;
        gap: 12px;
    }

    .learn-projects-card-header{
        font-size: 38px;
        line-height: 110%;
    }

    .learn-projects-card-scotch{
        width: 360px;

        top: 16px;
        left: 174px;
    }

    .learn-projects-card-img{
        margin-top: 32px;
    }
}

@media (max-width: 768px) {
    .learn-projects-wrapper {
        max-width: 480px;
        padding-top: 0px;
        padding-bottom: 32px;
        gap: 12px;
    }

    .learn-projects-card-header{
        font-size: 24px;
        font-weight: 300;
        line-height: 100%;
        padding-top: 4px;
    }

    .learn-projects-card-scotch{
        width: 220px;
        top: 12px;
        left: 128px;
    }

    .learn-projects-card-img{
        margin-top: 18px;
    }
}