* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

body{
  color: #1A1712;
}

body::before {
  z-index: -100;
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("./bg_paper.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FAF7F2;
  mix-blend-mode: soft-light;
  opacity: 0.42;
}
.main-wrapper {
  width: 100%;
}
.main-content {
  width: 1200px;
  margin: 0 auto;
}

.main-content .main-header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}
.main-content .main-header a {
  all: unset;
  z-index: 1;
}

.section-header {
  border-radius: 100px;
  padding: 12px 40px 16px;
  gap: 10px;
  background: #F2A97C;
  border: 1px solid #E0D8CC;
  width: fit-content;
  font-family: Cormorant Garamond, serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 120%;
}

.contacts-wrapper{
  height: 232px;
}


@media (max-width: 1200px) {
  .main-content {
    width: 920px;
  }

  .main-content .main-header {
    width: 920px;
    display: flex;
  }

  .section-header {
    font-family: DM Sans, sans-serif, serif;
    font-size: 18px;
    line-height: 170%;
    padding: 8px 32px 12px;
  }

  .contacts-wrapper{
    height: 200px;
  }
}

@media (max-width: 960px) {
  .main-content {
    width: 728px;
  }

  .main-content .main-header {
    width: 728px;
    display: flex;
  }

  .section-header {
    font-family: DM Sans, sans-serif, serif;
    font-size: 18px;
    line-height: 170%;
    padding: 8px 32px 12px;
  }

  .contacts-wrapper{
    height: 200px;
  }
}