.philosophy-wrapper {
    width: 1200px;
    padding-top: 20px;
    padding-bottom: 60px;
    height: 366px;
    position: relative;
}
.philosophy-card {
    position: absolute;
}

.philosophy-card-1{
    left: 22px;
    top: 20px;
}
.philosophy-card-2{
    left: 180px;
    top: -24px;
}
.philosophy-card-3{
    left: 390px;
    top: 0;
}
.philosophy-card-4{
    left: 570px;
    top: -30px;
}

@media (max-width: 1200px) {
    .philosophy-wrapper {
        width: 920px;
        height: 364px;
    }
}

@media (max-width: 960px) {
    .philosophy-wrapper {
        width: 728px;
        height: 336px;
    }

    .philosophy-card-1{
        left: 10px;
        top: 20px;
    }
    .philosophy-card-2{
        left: 150px;
        top: -30px;
    }
    .philosophy-card-3{
        left: 320px;
        top: 10px;
    }
    .philosophy-card-4{
        left: 480px;
        top: -30px;
    }
}

@media (max-width: 768px) {
    .philosophy-wrapper {
        width: 480px;
        height: 236px;
    }
    .philosophy-card {
        transform: scale(0.7);
    }

    .philosophy-card-1{
        left: -30px;
        top: -24px;
    }
    .philosophy-card-2{
        left: 50px;
        top: -64px;
    }
    .philosophy-card-3{
        left: 160px;
        top: -74px;
    }
    .philosophy-card-4{
        left: 270px;
        top: -74px;
    }
}

@media (max-width: 480px) {
    .philosophy-wrapper {
        width: 320px;
        height: 320px;
        padding-top: 12px;
    }
    .philosophy-card {
        transform: scale(0.7);
    }

    .philosophy-card-1{
        left: 0;
        top: -30px;
    }
    .philosophy-card-2{
        left: 130px;
        top: -70px;
        z-index: 2;
    }
    .philosophy-card-3{
        left: -30px;
        top: 44px;
        transform: scale(0.7) rotate(-20deg);
    }
    .philosophy-card-4{
        left: 100px;
        top: 38px;
        transform: scale(0.7) rotate(50deg);
    }
}