.philosophy-wrapper {
    width: 1200px;
    padding-top: 20px;
    padding-bottom: 60px;
    height: 366px;
    position: relative;
}
.philosophy-card {
    position: absolute;
}

.philosophy-card p{
    position: absolute;
    /*text-align: center;*/
    /*left: 0;*/
    text-align: center;
    top: 50px;
    left: 30px;
    max-width: 200px;
}