.philosophy-wrapper {
    width: 1200px;
    padding-top: 20px;
    padding-bottom: 60px;
    height: 366px;
    position: relative;
}
.philosophy-card {
    position: absolute;
}

.philosophy-card-1{
    left: 22px;
    top: 120px;
}
.philosophy-card-2{
    left: 180px;
    top: 70px;
}
.philosophy-card-3{
    left: 390px;
    top: 100px;
}
.philosophy-card-4{
    left: 570px;
    top: 60px;
}

@media (max-width: 1200px) {
    .philosophy-wrapper {
        width: 920px;
        height: 364px;
    }
}

@media (max-width: 960px) {
    .philosophy-wrapper {
        width: 728px;
        height: 336px;
    }

    .philosophy-card-1{
        left: 10px;
        top: 100px;
    }
    .philosophy-card-2{
        left: 150px;
        top: 50px;
        z-index: 1;
    }
    .philosophy-card-3{
        left: 320px;
        top: 80px;
    }
    .philosophy-card-4{
        left: 480px;
        top: 40px;
    }
}

@media (max-width: 768px) {
    .philosophy-wrapper {
        width: 480px;
        height: 236px;
    }
    .philosophy-card {
        transform: scale(0.7);
    }

    .philosophy-card-1{
        left: -30px;
        top: 40px;
    }
    .philosophy-card-2{
        left: 50px;
        top: -4px;
        z-index: 1;
    }
    .philosophy-card-3{
        left: 160px;
        top: -8px;
    }
    .philosophy-card-4{
        left: 270px;
        top: -5px;
    }
}

@media (max-width: 480px) {
    .philosophy-wrapper {
        width: 320px;
        height: 320px;
    }
    .philosophy-card {
        transform: scale(0.7);
    }

    .philosophy-card-1{
        left: 0;
        top: 40px;
    }
    .philosophy-card-2{
        left: 100px;
        top: -4px;
        z-index: 2;
    }
    .philosophy-card-3{
        left: 0;
        top: 110px;
        z-index: 4;
        transform: scale(0.7) rotate(-20deg);
    }
    .philosophy-card-4{
        left: 140px;
        top: 110px;
        z-index: 1;
        transform: scale(0.7) rotate(50deg);
    }
}