.thinking-section-wrapper {
    width: 1200px;
    padding-top: 0;
    padding-bottom: 60px;
    height: 816px;
    position: relative;
}

.thinking-card-wrapper {
    width: 430px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transition: scale 1s ease;
    margin-top: -72px;
}

.thinking-card-wrapper:hover {
    scale: 1.05;
}

.thinking-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 402px;
    box-shadow: -11px 20px 22px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: box-shadow 0.2s ease;

}
.thinking-card:hover {
    box-shadow: -11px 20px 22px 0 rgba(0, 0, 0, 0.5);
}

.thinking-card-scotch {
    margin-left: 172px;
    transform: translateY(24px);
}

.thinking-card-img{
    width: 384px;
    height: 314px;
    margin: 24px 24px 12px;

}

.thinking-card-footer {
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    /*gap: 8px;*/
    height: 56px;
}

.thinking-card-footer svg {
    margin-left: 8px;
    display: block;
}

@media (max-width: 1200px) {
    .thinking-section-wrapper {
        width: 920px;
        height: 674px;
    }

    .thinking-card-wrapper {
        width: 350px;
        height: 420px;
        margin-top: -60px;
    }

    .thinking-card {
        width: 350px;
        height: 326px;
        box-shadow: -8px 17px 18px 0 rgba(0, 0, 0, 0.3);
    }

    .thinking-card-img{
        width: 312px;
        height: 256px;
        margin: 18px 18px 8px;
    }

    .thinking-card-scotch {
        margin-left: 140px;
        /*transform: translateY(18px);*/
    }
}

@media (max-width: 960px) {
    .thinking-section-wrapper {
        width: 728px;
        height: 480px;
    }

    .thinking-card-wrapper {
        width: 220px;
        height: 240px;
        margin-top: -30px;
    }

    .thinking-card {
        width: 220px;
        height: 210px;
        box-shadow: -6px 10px 12px 0 rgba(0, 0, 0, 0.3);
    }

    .thinking-card-img{
        width: 196px;
        height: 164px;
        margin: 12px 12px 6px;
    }

    .thinking-card-scotch {
        margin-left: 80px;
        margin-top: -12px;
        /*transform: translateY(18px);*/
    }
}